.modal-container {
  display: flex;
  flex-flow: column wrap;
}

::ng-deep .mat-mdc-dialog-title {
  padding: 40px;
  font-family: "Roboto", sans-serif !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #444444 !important;
}

::ng-deep .mat-mdc-select-placeholder {
  color: #a8a8a8 !important;
  font-weight: 400;
}

::ng-deep .mat-mdc-select-value-text {
  color: #444444 !important;
  font-weight: 400;
}