<div class="modal-container">
  <h1 mat-dialog-title>Nova Consulta</h1>
  <form [formGroup]="novaConsultaForm" (submit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field appearance="outline" class="pb-4 small-field">
        <mat-select (selectionChange)="changeEspecialidade()" placeholder="Especialidade" formControlName="especialidade" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let especialidade of especialidades" [value]="especialidade.nome">{{ especialidade.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" class="pb-4 small-field">
        <mat-select (selectionChange)="changeMedico()" placeholder="Médico" formControlName="medico" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let medico of medicos" [value]="medico.nome">{{ medico.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" class="pb-4 small-field">
        <mat-select (selectionChange)="changeData()" placeholder="Data" formControlName="data" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let data of datas" [value]="data.dia">{{ data.dia }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline" class="small-field">
        <mat-select placeholder="Hora" formControlName="hora" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let hora of horas" [value]="hora">{{ hora }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

    </div>
    <div mat-dialog-actions [align]="'center'">
      <p class="mt-8 mb-5">
        <app-button-secondary mat-dialog-close [label]="'Cancelar'"></app-button-secondary>
        <app-button-primary mat-dialog-close [label]="'Confirmar'" [disabled]="novaConsultaForm.invalid"></app-button-primary>
      </p>
    </div>
  </form>
</div>