<div class="flex h-screen justify-center items-center">
  <form [formGroup]="signupForm" (submit)="onSubmit()">
    <img src="assets/logo.svg" alt="Logo medicar" class="mb-5" />

    <p class="font-bold text-lg text-black mb-5">Crie sua conta</p>

    <p>
      <mat-form-field appearance="outline" class="small-field" [hideRequiredMarker]="true">
        <mat-label class="pr-2">Nome</mat-label>
        <input matInput formControlName="username" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="this.signupForm.controls['username'].hasError('required')">
          Campo <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <br />

    <p>
      <mat-form-field appearance="outline" class="small-field" [hideRequiredMarker]="true">
        <mat-label class="pr-2">Email</mat-label>
        <input matInput formControlName="email" [type]="'email'" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="this.signupForm.controls['email'].hasError('email') && !this.signupForm.controls['email'].hasError('required')">
          Insira um email válido
        </mat-error>
        <mat-error *ngIf="this.signupForm.controls['email'].hasError('required')">
          Campo <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <br />

    <p>
      <mat-form-field appearance="outline" class="small-field" [hideRequiredMarker]="true">
        <mat-label class="pr-2">Senha</mat-label>
        <input matInput formControlName="password" [errorStateMatcher]="matcher" [type]="hide() ? 'password' : 'text'" />
        <button matSuffix class="mr-3 text-gray" type="button" (click)="hide()">
          <mat-icon
            [fontIcon]="hide() ? 'visibility_off' : 'visibility'"
          ></mat-icon>
        </button>
        <mat-error *ngIf="this.signupForm.controls['password'].hasError('required')">
          Campo <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <br>
    
    <p>
      <mat-form-field appearance="outline" class="small-field" [hideRequiredMarker]="true">
        <mat-label class="pr-6">Confirmar Senha</mat-label>
        <input matInput formControlName="passwordConfirm" [errorStateMatcher]="matcher" [type]="hideConfirm() ? 'password' : 'text'" />
        <button matSuffix class="mr-3 text-gray" type="button" (click)="hideConfirm()">
          <mat-icon
            [fontIcon]="hideConfirm() ? 'visibility_off' : 'visibility'"
          ></mat-icon>
        </button>
        <mat-error *ngIf="this.signupForm.controls['passwordConfirm'].hasError('required')">
          Campo <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </p>
    
    <p class="mt-10">
      <a tabindex="-1" routerLink="/">
        <app-button-secondary [label]="'Cancelar'"></app-button-secondary>
      </a>
      <a tabindex="-1">
        <app-button-primary [label]="'Confirmar'" [disabled]="signupForm.invalid"></app-button-primary>
      </a>
    </p>
  </form>
</div>
