input {
    font-size: 13px;

    &[type="text"] {
        width: 400px;
        height: 40px;
    }
    
    &[type="password"] {
        width: 400px;
        height: 40px;
    }
}

label {
    font-size: 13px;
}