input {
  font-size: 13px;

  &[type="text"] {
    width: 400px;
    height: 40px;
  }

  &[type="password"] {
    width: 400px;
    height: 40px;
  }
}

label {
  font-size: 13px;
}

mat-form-field {
  width: 400px;
}

::ng-deep .small-field .mat-mdc-form-field-flex {
  height: 40px;
}

::ng-deep .small-field .mdc-text-field {
  height: 40px;
  min-height: 40px;
}

::ng-deep .small-field .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
}

::ng-deep .mdc-floating-label {
  color: #9ca3af !important;
  font-size: 13px;
}

::ng-deep .mdc-floating-label:not(.mdc-floating-label--float-above) {
  padding-bottom: 16px !important;
}

::ng-deep .mdc-notched-outline__leading {
  width: 8px !important;
}

::ng-deep .mdc-notched-outline__notch {
  border-right: none !important;
  width: 90px !important;
}

::ng-deep .mdc-notched-outline__trailing {
  width: auto !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #49B4BB  !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: gray;
}