<div class="flex h-screen justify-center items-center">
  <div>
    <img src="assets/logo.svg" alt="Logo medicar" class="mb-5">

    <p>
      <mat-form-field appearance="outline" class="small-field">
        <mat-label class="pr-5">Email ou Login</mat-label>
        <input matInput>
      </mat-form-field>
    </p>
    <br>

    <p>
      <mat-form-field appearance="outline" class="small-field">
        <mat-label class="pr-2">Senha</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button matSuffix class="mr-3 text-gray focus-visible:outline-primary" (click)="hide()">
          <mat-icon [fontIcon]="hide() ? 'visibility_off' : 'visibility'"></mat-icon>
        </button>
      </mat-form-field>
    </p>
        
    <mat-checkbox [color]="'#49B4BB'">Lembrar minha senha</mat-checkbox>

    <p class="mt-10">
      <app-button-secondary [label]="'Criar Conta'"></app-button-secondary>
      <app-button-primary [label]="'Acessar'"></app-button-primary>
    </p>

  </div>
</div>
