<div class="flex h-screen justify-center items-center">
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <img src="assets/logo.svg" alt="Logo medicar" class="mb-5">

    <p>
      <mat-form-field appearance="outline" class="small-field">
        <mat-label class="pr-5">Email ou Login</mat-label>
        <input matInput formControlName="login" required>
      </mat-form-field>
    </p>
    <br>

    <p>
      <mat-form-field appearance="outline" class="small-field">
        <mat-label class="pr-2">Senha</mat-label>
        <input matInput formControlName="password" required [type]="hide() ? 'password' : 'text'" />
        <button matSuffix class="mr-3 text-gray" type="button" (click)="hide()">
          <mat-icon [fontIcon]="hide() ? 'visibility_off' : 'visibility'"></mat-icon>
        </button>
      </mat-form-field>
    </p>
        
    <mat-checkbox [color]="'#49B4BB'">Lembrar minha senha</mat-checkbox>

    <p class="mt-10">
      <a tabindex="-1" routerLink="signup">
        <app-button-secondary [label]="'Criar Conta'"></app-button-secondary>
      </a>
      <a tabindex="-1">
        <app-button-primary [label]="'Acessar'" [disabled]="loginForm.invalid"></app-button-primary>
      </a>
    </p>

  </form>
</div>
