<div class="custom-container h-screen">
  <mat-toolbar class="custom-toolbar bg-white">
    <img src="assets/logo.svg" alt="Logo medicar"/>
    <span class="text-gray ml-auto mr-10">Lucas Freitas</span>
    <a routerLink="/" class="text-primary">Desconectar</a>
  </mat-toolbar>
  
  <!-- TODO card shadow -->
  <mat-card>
    <mat-card-header class="mt-2">
      <mat-card-title class="text-black">
        Consulta Clínica
      </mat-card-title>
      <button class="ml-auto px-5 rounded font-normal text-white bg-primary hover:bg-primary-hover focus:border-primary focus:outline-none focus:ring-0">+ Nova consulta</button>
    </mat-card-header>

    <!-- TODO table -->
    <mat-card-content>
      Kappa
    </mat-card-content>
  </mat-card>

</div>
