mat-card {
  height: 90vh;
  box-shadow: 0px 1px 4px 0px #00000040;
}

mat-card-title {
  font-weight: 700;
  font-size: 18px;
}

mat-card-header button {
  font-size: 13px;
}

.custom-container {
  width: 627px;
  margin: auto;
}

::ng-deep img {
  width: 90px;
  height: 25px;
}

::ng-deep .custom-toolbar {
  width: 103px;
}