mat-card {
  height: 90vh;
}

mat-card-title {
  font-weight: 700;
  font-size: 18px;
}

mat-card-header button {
  font-size: 13px;
}

.custom-container {
  width: 627px;
  margin: auto;
}

::ng-deep img {
  width: 90px;
  height: 25px;
}

::ng-deep .custom-toolbar {
  width: 103px;
}