.custom-container {
  width: 45vw;
  margin: auto;
}

mat-card {
  width: 45vw;
  height: 90vh;
  box-shadow: 0px 1px 4px 0px #00000040;
}

mat-card-title {
  font-weight: 700;
  font-size: 18px;
}

mat-card-header button {
  font-size: 13px;
  height: 24px;
}

::ng-deep img {
  width: 90px;
  height: 25px;
}

::ng-deep .mat-mdc-header-row {
  height: 0 !important;
}

::ng-deep .mat-mdc-header-cell {
  font-weight: 700;
  font-size: 12px;
  color: #A8A8A8 !important;
  border-bottom: 0 !important;
}

::ng-deep .mat-mdc-cell {
  font-size: 13px;
  border-bottom: 0 !important;
}

mat-icon {
  font-weight: 800;
  font-size: 13px;
  width: 13px;
  height: 13px;
}

.striped-table .mat-mdc-row:nth-child(odd) {
  background-color: #FFFFFF;
}

.striped-table .mat-mdc-row:nth-child(even) {
  background-color: #F8F8F8;
}