<div class="custom-container h-screen">
  <mat-toolbar class="bg-white">
    <img src="assets/logo.svg" alt="Logo medicar"/>
    <span class="text-gray ml-auto mr-10">{{username}}</span>
    <a (click)="logout()" class="text-primary cursor-pointer">Desconectar</a>
  </mat-toolbar>
  
  <mat-card>
    <mat-card-header class="mt-2">
      <mat-card-title class="text-black pb-3">
        Consulta Clínica
      </mat-card-title>
      <button class="ml-auto px-5 rounded font-normal text-white bg-primary hover:bg-primary-hover focus:border-primary focus:outline-none focus:ring-0 focus-visible:outline-gray" (click)="openDialog()">+ Nova consulta</button>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="striped-table">
        <ng-container matColumnDef="especialidade">
          <th mat-header-cell *matHeaderCellDef>ESPECIALIDADE</th>
          <td mat-cell *matCellDef="let consulta">{{consulta.medico.especialidade.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="profissional">
          <th mat-header-cell *matHeaderCellDef>PROFISSIONAL</th>
          <td mat-cell *matCellDef="let consulta">{{consulta.medico.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef>DATA</th>
          <td mat-cell *matCellDef="let consulta">{{consulta.dia}}</td>
        </ng-container>

        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef>HORA</th>
          <td mat-cell *matCellDef="let consulta">{{consulta.horario}}</td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let consulta"> 
            <a routerLink="/home" class="text-primary flex items-center justify-center" (click)="desmarcarConsulta(consulta.id)">
              <mat-icon [fontIcon]="'close_small'" class="m-2"></mat-icon>
              Desmarcar
            </a> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>

</div>
