@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng-touched {
  caret-color: #444444 !important;
}

.mat-mdc-snack-bar-container.login-snackbar {
  --mdc-snackbar-container-color: #49b4bb;
  --mat-mdc-snack-bar-button-color: #D9F1F3;
  --mdc-snackbar-supporting-text-color: #FFFFFF;
}

mat-form-field {
  width: 400px;
}

.small-field .mat-mdc-form-field-flex {
  height: 40px;
}

.small-field .mdc-text-field {
  height: 40px;
  min-height: 40px;
}

.small-field .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.mdc-floating-label {
  color: #9ca3af !important;
  font-size: 13px;
}

.mdc-floating-label:not(.mdc-floating-label--float-above) {
  padding-bottom: 16px !important;
}

.mdc-notched-outline__leading {
  width: 8px !important;
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

/* .small-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
} */

mat-hint {
  color: #A8A8A8;
  font-size: 12px;
}

mat-error {
  font-size: 12px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  )
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  )
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  )
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: #a8a8a8;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #49b4bb;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused).mdc-text-field--invalid
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused).mdc-text-field--invalid
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused).mdc-text-field--invalid
  .mdc-notched-outline__trailing {
  border-color: red;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: #49b4bb !important;
}

.small-field button:focus-visible {
  outline-color: #49B4BB;
}

a:focus-visible {
  outline-color: #49B4BB;
}